@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
     
      body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
      }

      #shout, #horn, #ray {
        position: absolute;
        top: 0;
        height: 120px;
        width: 120px;
        border: 0px solid green;
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -webkit-touch-callout:none;
      }

      #shout > img, #horn > img, #ray > img {
        pointer-events: none;
        width: 100%;
        height: 100%;
      }

      #horn.disabled {
        border: 2px solid red;
      }
      #shout.disabled {
        border: 2px solid red;
      }
      #special-meter, #main-meter, #ray-meter {
        position: absolute;
        top: 120px;
        width: 110px;
        height: 50px;
      }
      .high-meter {
        accent-color: green;
      }
      .low-meter {
        accent-color: coral;
      }

      #ray, #ray-meter {
        left: 240px;
      }

      #horn, #main-meter {
        left: 120px;
      }

      #life-indicator-container {
        position: absolute;
        left: 5;
        bottom: 5;
      }

      .life-indicator {
        --c: rgb(224, 57, 57);
        width: 40px;
        aspect-ratio: 1;
        background:
        radial-gradient(at 70% 31%,var(--c) 29%,#0000 30%),
        radial-gradient(at 30% 31%,var(--c) 29%,#0000 30%),
        conic-gradient(from -45deg at 50% 84%,var(--c) 90deg,#0000 0) 
          bottom/100% 50% no-repeat;

      }

      #score-container {
        position: absolute;
        right: 5;
        bottom: 5;
      }

      #score {
        font-size: 50px;
      }

      #game-menu {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10;
      }

      #game-menu > * {
        pointer-events: all;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      #game-menu-bg {
        background-color: #5c698b;
        opacity: 1;
        width: 100%;
        height: 100%;
        transition: opacity 1s;
        pointer-events: none;
      }

      #landing {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
        font-weight: 700;

        transition: opacity 0.4s linear;
      }
      #landing h1 {
        font-family: Oswald;
      }
      #landing p {
        width: 90%;
        max-width: 800px;
      }

      #landing img {
        flex-grow: 1;
        width: 400px;
        max-width: 60%;
        animation: float 6s ease-in-out infinite;
        overflow: auto; 
      }

      #main-menu {
        opacity: 0;
        transition: opacity 0.4s linear;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
      }

      #credits {
        flex-direction: column;
      }

      #settings {
        flex-direction: column;
      }

      #level-selection {
        flex-direction: column;
        gap: 15px;
      }

      #level-button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        gap: 10px;
      }

      #level-end-container {
        color: black;
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        height: 300px;
        border-radius: 10px;
        gap: 10px;
      }


      .disabled {
        pointer-events: none !important;
        opacity: 0;
      }

      .enabled {
        pointer-events: all;
        opacity: 1 !important;
      }


      @keyframes float {
        0% {
          transform: translatey(0px);
        }
        50% {
          transform: translatey(-20px);
        }
        100% {
          transform: translatey(0px);
        }
      }

      .btn {
        align-items: center;
        background-image: linear-gradient(135deg, #ff6c36 40%, #fc894d);
        border: 0;
        border-radius: 10px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-family: "Codec cold",sans-serif;
        font-size: 16px;
        font-weight: 700;
        height: 54px;
        width: 100px;
        justify-content: center;
        letter-spacing: .4px;
        line-height: 1;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 3px;
        text-decoration: none;
        text-transform: uppercase;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }

      .btn:active {
        outline: 0;
      }

      .btn:hover {
        outline: 0;
      }

      .btn span {
        transition: all 200ms;
      }

      .btn:hover span {
        transform: scale(.9);
        opacity: .75;
      }

      #pause-menu-container {
        display: flex;
        gap: 20px;
      }
      #intro-modal {
        display: flex;
        /* background-image: url('./assets/instructions.jpg'); */
        /* background-repeat: no-repeat; */
        border: 2px solid black;
        border-radius: 10px;
        position: fixed; /* fix the position of the modal */
        top: 0; /* align the modal to the top */
        left: 0; /* align the modal to the left */
    }
    #intro-modal img {
      width: 100vw;
      height: 100vh;
      object-fit: contain;
      object-position: center;
  }
    #h1 {
      font-family: Oswald,Helvetica;
    }
    
    
    #text-column, #image-column {
        width: 50%; /* each column takes up half the space */
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #image-column img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .icon{
      width: 150px;
    }


      #main-menu-top {
        width: 90%;
        height: 15em;
      }

      #main-menu-bottom {
       display: flex;
       flex-direction: row; 
       gap: inherit;  
      }

      @media screen and (max-width: 991px) {
        #main-menu-bottom {
          flex-direction: column;   
        }

        .btn {
          font-size: 13px;
          height: 50px;
        }

        .btn span {
          line-height: 50px;
        }
      }